<%- include("templates/head") %>
<body>
    <h1><%= h1 %></h1>  <!--h1 porque es la clave que le hemos dado al objeto en app.get// con el = se envian datos-->
    <%- include("templates/footer") %>
</body>
</html>
